<ion-header>
  <ion-toolbar>
    <ion-title>Plataforma de Auxilio y Prevención</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Toda la Información Importante</h2>
  <p>Accede rápidamente a guías de primeros auxilios y protocolos de prevención de desastres para estar preparado ante cualquier situación.</p>

  <ion-button expand="block" color="danger" (click)="callEmergency()">
    <ion-icon name="call"></ion-icon> LLAMAR A EMERGENCIAS (123)
  </ion-button>

  <ion-searchbar placeholder="Buscar procedimientos o desastres..."></ion-searchbar>
</ion-content>
